
.container{
    max-width: 1200px !important;
}
.bi{
    margin-right: 20px;
}
.s-icon{
    width: 300px !important;
}
@media screen and (min-width: 768px) { 
.container{
    max-width: 850px    ;
}
}
@media screen and (max-width: 900px) {
    .icons{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) { 
    .inputs .input-group-text{
        font-size: 14px;
        width: 100%;
        border-radius: 10px !important;
    }
    
    .btn{
        width: fit-content !important;
    }
    .s-icon{
        display: flex;
        flex-direction: row;
    }
    .s-icon p{
        font-size: 14px;
        margin-bottom: 0;
    }
    .icon-input{
        border-top-right-radius: 10px !important;
        border-bottom-left-radius: 0 !important;

    }
    .form-control{
        border-radius: 10px !important;
    }
    .s-icon .input-group-text{
        width: 100%;
    }
    .s-icon .form-control{
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;

    }
}

@media screen and (max-width:425px) {
    
    .s-icon p{
        font-size: 14px;
    }
    .icons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .s-icon{
        width: 70% !important;
        margin-bottom: 10px;
        margin-right: 0 !important;
    }
    .icon-input{
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
    }
    .bi{
        margin-bottom: 0;
        margin-right:20px ;
    }
}